
*.opendb
*.idb
*.idb
*.idb
*.db
*.ipch
*.tlog

/Chat_Redes/.vs/*
.vs\*
.vs\Chat_Redes\v15\

/Chat_Redes/Chat_Redes.VC.db
/Chat_Redes/Chat_Redes.VC.VC.opendb
#
Chat_Redes/.vs/v15/Browse.VC.db
Chat_Redes/.vs/v15/Browse.VC.opendb
*.ipch
.vs/Chat_Redes/v15/Browse.VC.db
Chat_Redes/x64/Debug/Chat_Redes.tlog/Chat_Redes.lastbuildstate
Chat_Redes/x64/Debug/Chat_Redes.tlog/CL.command.1.tlog
Chat_Redes/x64/Debug/Chat_Redes.tlog/CL.read.1.tlog
Chat_Redes/x64/Debug/Chat_Redes.tlog/link.read.1.tlog
Chat_Redes/x64/Debug/vc141.idb
.vs/Chat_Redes/v15/Browse.VC.db
